<!doctype html>
<title>About</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'style.css') }}">
<body>
<nav>
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/73/Rating_Badge_IC.jpg" alt="IC rating badge">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Study Resources</a>
           <ul>
                <li><a href="/bibs">Bibliography</a></li>
                <li><a href="/volumes">IC Volumes</a></li>
                <li><a href="/neets">Neets Modules</a></li>
               <li><a href="/IC3">IC3</a></li>
               <li><a href="/IC2">IC2</a></li>
               <li><a href="/IC1">IC1</a></li>
               <li><a href="/ICC">ICC</a></li>
            </ul>
        </li>
        <li><a href="/forum">Forum</a></li>
        <li><a href="/about">About</a></li>

    </ul>
</nav>

<p>As an IC I understand how hard it is to study for advancement when the amount of information you need to study is in so many different places. I created this website to avoid this issue and have all the IC study material from E4-E7 in one consolidated place. </p>
<p>IC2 Grant, J. L</p>
</body>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<footer>
    <p>This is an unofficial web site & shall not claim to be nor should be assumed to be affiliated with the United States government, Department of Defense, or the United States Navy. Information contained herein is unclassified, and documents available for download are for reference only & shall not be considered as official policy or directive.</p>
</footer>
