<!doctype html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'style.css') }}">
<title>IC3</title>



<nav>
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/73/Rating_Badge_IC.jpg" alt="IC rating badge">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Study Resources</a>
           <ul>
                <li><a href="/bibs">Bibliography</a></li>
                <li><a href="/volumes">IC Volumes</a></li>
                <li><a href="/neets">Neets Modules</a></li>
               <li><a href="/IC3">IC3</a></li>
               <li><a href="/IC2">IC2</a></li>
               <li><a href="/IC1">IC1</a></li>
               <li><a href="/ICC">ICC</a></li>
            </ul>
        </li>
        <li><a href="/forum">Forum</a></li>
        <li><a href="/about">About</a></li>

    </ul>
</nav>
<h1>IC3</h1>
<h3>links</h3>
<ul>
    <li><a href="https://www.public.navy.mil/bupers-npc/reference/instructions/BUPERSInstructions/Documents/1430.16F.pdf">BUPERSINST 1430.16F Advancement Manual...</a></li>
    <li><a href="https://www.public.navy.mil/bupers-npc/reference/instructions/BUPERSInstructions/Documents/1610.10D.pdf">Navy Performance Evaluation System</a></li>
    <li><a href="https://www.public.navy.mil/bupers-npc/career/careercounseling/Documents/C-WAY%20USER%20GUIDE%20(Rev%2028Mar2018).pdf">CWAY User Guide (Rev1) </a></li>
    <li><a href="https://www.public.navy.mil/bupers-npc/reference/messages/Documents/NAVADMINS/NAV2016/NAV16061.txt">NAVADMIN 061-16, Implementation of physical...</a></li>
    <li><a href="https://www.courses.netc.navy.mil/courses/14325/14325.pdf">NAVEDTRA 14325, Basic Military Requirements</a></li>
    <li><a href="http://www.public.navy.mil/bupers-npc/reference/milpersman/Documents/WHOLE%20MILPERSMAN.pdf">NAVPERS 15560D, Naval Military Personnel Manual</a></li>
    <li><a href="https://www.public.navy.mil/bupers-npc/support/uniforms/uniformregulations/Pages/default.aspx">NAVPERS 15665I, U.S. Navy Uniform Regulations</a></li>
    <li><a href="https://www.usna.edu/Admissions/_files/documents/Fleet/OPNAVINST.pdf">OPNAVINST 1420.1B, Enlisted to Officer Commissioning Programs</a></li>
    <li><a href="https://www.med.navy.mil/sites/nmcphc/Documents/health-promotion-wellness/psychological-emotional-wellbeing/opnav-inst-1720-4a-navy-suicide-prevention-policy.pdf">Opnavinst 1720.4a, Suicide Prevention Program</a></li>
    <li><a href="http://www.navy.mil/docs/OPNAVINST-1752-1C.pdf">OPNAVINST 1752.1C, Navy Sexual Assault Prevention and Response</a></li>
    <li><a href="http://www.public.navy.mil/airfor/nalo/Documents/SAFETY/OPNAVINST%203500.39C%20OPERATIONAL%20RISK%20MANEGEMENT.pdf">OPNAVINST 3500.39C, Operational Risk Management (ORM)</a></li>
    <li><a href="https://doni.documentservices.dla.mil/Directives/05000%20General%20Management%20Security%20and%20Safety%20Services/05-300%20Manpower%20Personnel%20Support/5370.2D.pdf">OPNAVINST 5370.2D, Navy Fraternization Policy</a></li>
    <li><a href="http://seabeemagazine.navylive.dodlive.mil/files/2014/04/SECNAVINST-1752.4B-Sexual-Assualt-Prevention-Response.pdf">SECNAVINST 1752.4B, Sexual Assault Prevention and Response</a></li>
    <li><a href="http://seabeemagazine.navylive.dodlive.mil/files/2014/05/BLUEJACKETSMANUAL-Centennial-Edition-Part-1.pdf">The BlueJacket's Manual (REV 24)</a></li>
    <li><a href="https://doni.documentservices.dla.mil/US%20Navy%20Regulations/ALNAV%20Interim%20Changes.pdf">US Navy Regulations</a></li>
</ul>
</body>

<br>
<br>
<br>
<br>
<br>
<footer>
    <p>This is an unofficial web site & shall not claim to be nor should be assumed to be affiliated with the United States government, Department of Defense, or the United States Navy. Information contained herein is unclassified, and documents available for download are for reference only & shall not be considered as official policy or directive.</p>
</footer>