<!doctype html>
<title>Registration template </title>
<head>Welcome to the registration</head>
<body>
<form method="POST" action="{{ url_for('register') }}">
    {{ form.csrf_token }}
    {{ form.username.label }}
    {{ form.username }}
    <ul>
        {% for error in form.username.errors %}
        <li style="color: red;">{{ error }}</li>
        {% endfor %}
    </ul>

    {{ form.password.label }}
    {{ form.password }}
    <ul>
        {% for error in form.password.errors %}
        <li style="color: red;">{{ error }}</li>
        {% endfor %}
    </ul>

    {{ form.email.label }}
    {{ form.email }}
    <ul>
        {% for error in form.email.errors %}
        <li style="color: red;">{{ error }}</li>
        {% endfor %}
    </ul>
    <input type="submit" value="submit">

</form>

</body>